@keyframes oscilate {
    0% {
        transform: rotate(-5deg);
    }

    50% {
        transform: rotate(5deg);
    }

    100% {
        transform: rotate(-5deg);
    }
}

* {
    box-sizing: border-box;
}

main {
    text-align: center
}

#hero-title {
    font-size: 4rem;
    animation: oscilate 3s ease-in-out infinite;
}