/* https://coolors.co/4059ad-6b9ac4-97d8c4-eff2f1-f4b942 */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  --primary-color: #4059AD;
  --secondary-color: #97D8C4;
  --accent-color: #F4B942;

  --light-color: #EFF2F1;
  --dark-color: #161F3C;
  --primary-font: "Montserrat", sans-serif;
  --secondary-font: "Rubik", sans-serif;
}

@keyframes dropdown-fade-in {
  0% {
    opacity: 0;
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes name-slide-in-left {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes name-slide-in-right {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--light-color);
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 0.5rem;
}

#first {
  margin-left: 50px;
  animation: name-slide-in-left 1000ms ease;
}

#last {
  animation: name-slide-in-right 1000ms ease;
}

.hide {
  display: none;
}


.dropbtn {
  background-color: var(--light-color);
  text-decoration: none;
  color: black;
  padding: 0.5rem;
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  box-shadow: 0px 0px 0px var(--accent-color);
  transition: box-shadow 200ms ease, transform 200ms ease, border-radius 100ms ease;
}
.clicked {
  background-color: var(--primary-color);
  color: var(--light-color);
  border-radius: 0;
  border-bottom: 0;
}

.dropbtn:hover {
  background-color: var(--primary-color);
  color: var(--light-color); 
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  background-color: var(--light-color);
  /* display: none; */
  position: absolute;
  min-width: 160px;
  z-index: 1;
  border: 2px solid var(--primary-color);

  overflow: hidden;
  box-shadow: 5px 5px 0px var(--primary-color);
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: var(--primary-color);
  color: var(--light-color);
  }
  
.dropdown:hover .dropdown-content {
    display: block;
    animation: dropdown-fade-in 500ms ease;
}

.dropdown:hover .dropbtn {
  background-color: var(--primary-color);
  color: var(--light-color);
  border-radius: 0;
  border-bottom: 0;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  list-style-type: none;
  padding: 0;
}

select {
  background-color: var(--light-color);
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  padding: 0.5rem;
  font-family: var(--primary-font);
}

#hero {
  text-align: center;
}

#name {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  justify-content: center;
  gap: 20px;
  text-shadow: 2px 2px var(--primary-color);
}

#logo {
  box-sizing: border-box;
  width: 100px;
  border-radius: 50%;
  transition: transform 500ms ease, box-shadow 500ms ease;
}

#logo:hover {
  transform: rotate(360deg) scale(1.1);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--secondary-font);
}

p,
a,
button {
  font-size: 21px;
  font-family: var(--primary-font);
  line-height: 31px;
}

h1 {
  font-size: 3rem;
}

h2 {
  margin-top: 40px;
  text-align: center;
}

main p {
  border: var(--primary-color) 2px solid;
  padding: 1rem;
  border-radius: 10px;
}

main {
  padding: 1em;
}

#content {
  max-width: 900px;
  margin: 0 auto;
}

footer p {
  font-size: 12px;
}

footer {
  display: flex;
  justify-content: space-between;
}

footer a {
  margin: 0 5px;
}

footer a img {
  width: 40px;
}

.dark {
  background-color: var(--dark-color);
}

.dark h1,
.dark h2,
.dark h3,
.dark h4,
.dark h5,
.dark h6 {
  color: var(--light-color);
}

.dark button {
  background-color: var(--dark-color);
  color: var(--light-color);
}

.dark .dropdown-content {
  background-color: var(--dark-color);

}

.dark .dropdown-content a {
  color: var(--light-color);
}

.dark p {
  border: none;
  color: var(--light-color);
}

.dark ul a {
  background-color: var(--dark-color);
  color: var(--light-color);
}

.dark ul a:hover {
  background-color: var(--primary-color);
}

.dark select {
  background-color: var(--dark-color);
  color: var(--light-color);
}

@media screen and (max-width: 700px) {
  #name {
    flex-direction: column;
  }

  #first {
    margin: 0;
  }

  #last {
    margin: 0;
  }
}